

.nav-container{
   background-color:#fff  ;   
   padding:3px;   
   position:fixed;
   top:0;
   width:100%;      

   ul{
      list-style:none;
      display:flex;   
      justify-content:space-around;      
      padding-inline-start: 0;
   }

   a{
      text-decoration:none;
      font-family:sans-serif;
      font-size:1.4rem;
      color:#ff6600;
   }
   a:hover{ 
      text-decoration:underline;
   }

}

.scrolled{
   box-shadow: 0px 10px 20px  #aaa  ;
   transition: box-shadow 0.4s ease-in-out;
   
}